---
description: Content has moved to .cursor/rules/
globs: Makefile*, scripts/*.py, docker-compose*.yml
---

## Use .cursor/rules to find cursor rules content
this is the v1 style of cursor rules. This repo uses the .cursor/rules style (v2) style of cursor rules.